/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

/*Style Tile for Nathan Page*/
.color-1{
	background: #221657;

}

.color-2{
	background: #750E1C;

}

.color-3{
	background: #45372E;

}


.imagery-1{
	background-image: url("../img/imagery1.jpg");
}
.imagery-2{
	background-image: url("../img/imagery2.jpg");

}
.imagery-3{
	background-image: url("../img/imagery3.jpg");

}


.pattern-1{
	background-image: url("../img/pattern1.jpg");

}
.pattern-2{
	background-image: url("../img/pattern2.jpg");

}

.pattern-3{
	background-image: url("../img/pattern3.jpg");

}


a{
	font: georgia;
	color: navy;
	text-decoration: none;
	
}

a:hover{
	color:maroon;

}

h1{
	font-family:Georgia;
	font-style: bold;

}

em{
	font-family: times;

}

h2{
	font-family:Georgia;

}

h3{
	font-family: "Palatino";

}


h4, p{
	font-family: georgia;

}